server {
    listen 80;
    server_name *domain.com* *www.domain.com*;

    access_log   /var/log/nginx/index.access.log;
    error_log    /var/log/nginx/index.error.log warn;

    location /days-at-home {
      rewrite ^/days-at-home/(.*)$ /$1 break;
      include uwsgi_params;
      uwsgi_pass unix:/var/www/days_at_home_counter/days-at-home-counter.sock;
    }
}
